* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
  font-size: 18px;
}

/* MAIN SECTION */

.header {
  grid-area: header;
  height: 130px;
  font-size: 20px;
  background-color: #180E0C;
  color: #96746d;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.navbar ul,
li,
a {
  display: flex;
  color: #856159;
  text-decoration: none;
  list-style: none;
  padding: 5px;
}

.navbar a:hover {
  background-color: #856159;
  color: #180e0c;
  transition: all 1s linear;
  border-radius: .5em;
}

.fotoMain img {
  width: 100%;
  height: 10%;
  min-width: 370px;
  background-color: #96746d;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, auto));
  justify-content: center;
}

.article {
  margin: 1.5em;
  /* border: #37201a;
  border-style: solid; */
}

.article p {
  width: 100%;
  font-size: 13px;
}

.article img {
  width: 100%;
  height: 60%;
}

/* FLORA Y FAUNA SECTION */

.florafauna {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30em, auto));
  color: #8e7066;
  background-color: #37201a;
  column-gap: 2em;
  padding: 2em 1.5em;

  /* border: rgb(3, 233, 14);
  border-style: solid; */
}

.flora,
.fauna,
.fotoff {
  width: 100%;

  /* border: rgb(3, 233, 14);
  border-style: solid; */
}

.flora h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.flora p {
  padding-left: 1em;
}

.flora1 {
  width: 100%;
  padding-bottom: 2em;
  display: flex;
}

.flora1 img {
  width: 100%;
  height: 100%;
  max-width: 15%;
}

.fauna p {
  padding-left: 1em;
}

.fauna h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.fauna1 {
  width: 100%;
  padding-bottom: 3.125rem;
  display: flex;
}

.fauna1 img {
  width: 100%;
  height: 100%;
  max-width: 15%;
}

.fotoff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fotoff img {
  width: 100%;
  height: 100%;
}

.fotoff h2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.fotoff p {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* RESENA AND LINKS SECTION */


.aboutlinks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  background-color: #251611;
  color: #856159;
  /* column-gap: 2em; */
  padding: 2em 1.5em;

  /* border: rgb(3, 233, 14);
  border-style: solid; */
}

.about,
.links {
  /* border: rgb(3, 233, 14);
  border-style: solid; */

  width: 100%;
  font-size: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about p {
  padding: 1em;
}

.links ul,
li,
a {
  display: block;
  color: #856159;
  text-decoration: none;
  list-style: none;
  padding: 10px;
}

.links a:hover {
  background-color: #856159;
  color: #180e0c;
  transition: all .3s linear;
  border-radius: .5em;
}


/* FOOTER */

.footer {
  grid-area: footer;
  background-color: #180e0c;
  color: #412720;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* MEDIAS QUERY SECTION */

@media all and (max-width: 970px) {
  .header {
    height: 130px;
    font-size: 16px;
    transition-duration: 100ms;
  }

  .article p {
    padding-top: .5em;
  }
}

@media all and (max-width: 770px) {
  .header {
    display: flex;
    height: 130px;
    flex-direction: column;
    transition-duration: 200ms;
    align-items: center;
    justify-content: center;
    transition-duration: 100ms;
  }

  .article p {
    padding-top: .5em;
  }
}

@media all and (max-width: 600px) {
  .florafauna {
    width: auto;
    column-gap: 0;
  }

  .flora,
  .fauna,
  .fotoff {
    width: 95%;
  }

  .flora img {
    width: 30%;
  }

  .fauna img {
    width: 30%;
  }
}


@media all and (max-width: 500px) {
  .header {
    height: 130px;
  }

  .header h1 {
    font-size: 25px;
    height: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    transition-duration: 100ms;
  }

  .navbar {
    padding-top: 0.5em;
  }

  .article {
    transition-duration: 100ms;
    margin: .5em;
    /* border: #37201a;
    border-style: solid; */
  }

  .article p {
    padding-top: .5em;
  }
}

@media all and (max-width: 380px) {
  .header {
    height: 110px;
    transition-duration: 100ms;
  }

  .header h1 {
    font-size: 20px;
    height: 10px;
    display: flex;
    justify-content: center;
    transition-duration: 100ms;
  }

  .articles {
    width: 100%;
  }

  .article {
    margin: 0;
    /* border: #37201a;
    border-style: solid; */
  }

  .article h2 {
    font-size: 16px;
    padding: 0;
    display: flex;
    justify-content: center;
    transition-duration: 500ms;
  }

  .article p {
    padding: .2em;
    font-size: 14px;
  }

  .fotoMain {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .flora,
  .fauna {
    width: 58%;
    /* border: #fff;
    border-style: solid; */
  }

  .flora h2 {
    font-size: 15px;
  }

  .fauna h2 {
    font-size: 15px;
  }

  .flora1 img {
    width: 100%;
  }

  .fauna1 img {
    width: 100%;
  }

  .flora1,
  .fauna1,
  .fotoff p {
    font-size: 14px;
  }

  .fotoff {
    width: 58%;
  }

  .fotoff h2 {
    font-size: 20px;
  }

  .fotoff img {
    width: 100%;
  }

  .about p {
    width: 100%;
  }

  .about,
  .links {
    font-size: 13px;
    width: 60%;
  }

  .links h2 {
    font-size: 13px;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .about h2 {
    font-size: 13px;
    padding-bottom: 2em;
  }
}